.home {
    &__contenedor {
        background-color: #eeeeee;
    }

    &__wrapper {
        display: flex;
        max-width: 900px;
        margin: 0 auto;
        flex-direction: column;
    }

    &__button {
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #1883ba;
        border: 0px;
        outline: none;
    }

    &__groupButton {
        display:flex;
        justify-content: space-between;
    }

    &__ul {
        background-color: white;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
    }
}